.screen-header {
  display: flex;
  padding: 45px var(--horizontal-space);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.screen-header-chats {
  margin-bottom: 5px;
}

.screen-header__title {
  font-size: xx-large;
  font-weight: 600;
}

/*
.screen-header__icon .fa-music {
  margin: 0px 25px;
}
*/

.screen-header__icon span {
  margin-left: 25px;
}
